[submodule "ionic-angular/community/ionic-team/example"]
	path = ionic-angular/community/ionic-team/example
	url = https://github.com/ionic-team/starter-example.git
[submodule "ionic-angular/community/danielsogl/super"]
	path = ionic-angular/community/danielsogl/super
	url = https://github.com/danielsogl/ionic-super-starter.git
[submodule "ionic-angular/community/oktadeveloper/jhipster"]
	path = ionic-angular/community/oktadeveloper/jhipster
	url = https://github.com/oktadeveloper/ionic-jhipster-starter.git
[submodule "angular/community/fleboulch/jhipster"]
	path = angular/community/fleboulch/jhipster
	url = https://github.com/fleboulch/ionic-jhipster-starter.git
