#home-page ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

#home-page ion-content ion-toolbar {
  --background: transparent;
}

ion-list {
  padding-bottom: 0px;
}

#home-page ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

#home-page ion-item h2 {
  font-weight: 600;
}

#home-page ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

#home-page ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

#home-page ion-item ion-icon {
  color: #c9c9ca;
}

#home-page ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

#home-page .dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

#home-page .dot-unread {
  background: var(--ion-color-primary);
}

#home-page ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}