<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet stack name="home"></ion-router-outlet>
  </ion-tab>
  <!--   <ion&#45;tab label="About" icon="information&#45;circle" href="/tabs/(about:about)"> -->
  <!--     <ion&#45;router&#45;outlet stack name="about"></ion&#45;router&#45;outlet> -->
  <!--   </ion&#45;tab> -->
  <!--   <!&#45;&#45; <ion&#38;#45;tab label="Contact" icon="contacts" href="/tabs/(contact:contact)"> &#45;&#45;> -->
  <!--   <!&#45;&#45;   <ion&#38;#45;router&#38;#45;outlet stack name="contact"></ion&#38;#45;router&#38;#45;outlet> &#45;&#45;> -->
  <!--   <!&#45;&#45; </ion&#38;#45;tab> &#45;&#45;> -->
</ion-tabs>
