ion-menu {
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
}

ion-menu.md {
  ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  ion-list {
    padding: 20px 0;
  }

  ion-note {
    margin-bottom: 30px;
  }

  ion-list-header, ion-note {
    padding-left: 10px;
  }

  ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-light-shade);

    ion-list-header {
      font-size: 22px;
      font-weight: 600;

      min-height: 20px;
    }
  }

  ion-list#labels-list {
    ion-list-header {
      font-size: 16px;

      margin-bottom: 18px;

      color: #757575;

      min-height: 26px;
    }
  }

  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;

    &.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.14);
      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    ion-icon {
      color: #616e7e;
    }

    ion-label {
      font-weight: 500;
    }
  }
}

ion-menu.ios {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  ion-list {
    padding: 20px 0 0 0;
  }

  ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }

  ion-item {
    --padding-start: 0;
    --min-height: 50px;

    &.selected {
      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    ion-icon {
      font-size: 24px;
      color: #73849a;
    }
  }

  ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }

  ion-list-header, ion-note {
    padding-left: 2px;
  }
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}